.ordino-header-navigation {
  background: #006192;
  padding: 0.5rem;
  
  // set fixed height to the header to avoid flickering when switching tabs
  @media (min-width: 992px) { // burger menu appears
    height: $header-navigation-height;
  }
}